/* 
--- 01 TYPOGRAPHY SYSTEM
    - FONT SIZE SYSTEM (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

    - Font-weights: 
    Default: 400
    Medium: 500
    Semi-Bold: 600
    Bold: 700

    - Line heights: 
    Default: 1
    1.2 - header
    1.5 - paragraph

    - Letter Spacing
    -1 px
     2 px

--- 02 COLORS

    Primary: #e67e22

    Tints: #ffc078, #ffa94d
    Shades: #cf711f,
    Accents:
    Greys: 
        #676767- lightest allowed on #fae5d3
        #555 (lighter))
        #333 (darker)

--- 05 SHADOWS

--- 06 BORDER-RADIUS
    10px
    50% - for perfect squares

--- 07 WHITESPACE
    - SPACING SYSTEM (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  /* outline: 4px dotted #e67e22; */
  /* outline-offset: -5px; */
  box-shadow: 0rem 0rem 0rem 2px #e67e22;
}

html {
  /* font-size: 10px; */
  /* 62.5% is a percentage of user's browser font-size setting and will not interfere with their usage when inc or dec their browser font-size */
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}
/*************************************/
/* GENERAL COMPONENTS */
/*************************************/
.heading-primary,
.heading-secondary,
.heading-tertiary {
  line-height: 1.05;
  color: #333;
  /* color: #45260a can work as well to contrast our main color */
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  margin-bottom: 2.4rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  margin-bottom: 1.6rem;
}

.subheading {
  font-size: 1.8rem;
  display: block;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
  letter-spacing: 2px;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem; /*Likes to double R & L padding vs top & bot */
  border-radius: 10px;

  border: none;
  cursor: pointer;
  /* Put transition on original "state" */
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #b8651b;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fae5d3;
  box-shadow: inset 0rem 0rem 0rem 3px #fff;
  /* trick using box-shadow to create border on the inside of box and prevent movement of elements around it */
}

.btn--form {
  background-color: #45260a;
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
}

.btn--form:hover {
  background-color: #fff;
  color: #555;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}
/* HELPER/SETTING CLASSES */
.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-sm {
  margin-bottom: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.center-text {
  text-align: center;
}

strong {
  font-weight: 500;
}

/* Creating reusable grid across the html */
.grid {
  display: grid;
  gap: 8rem;
  column-gap: 4rem;
  /* margin-bottom: 9.6rem; */
}
/* 
.grid:last-child {
  margin-bottom: 0rem;
} */

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 8rem;
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--center-v {
  align-items: center;
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}
